services:
  web:
    image: ghcr.io/${GITHUB_REPOSITORY}/flask-app:latest
    restart: unless-stopped
    environment:
      - FLASK_ENV=production
      - SECRET_KEY_FILE=/run/secrets/flask_secret_key
      - VIRTUAL_HOST=copper.steyaert.xyz,gradpace.steyaert.xyz
      - VIRTUAL_PORT=8000
    secrets:
      - flask_secret_key
    networks:
      - nginx-proxy

networks:
  nginx-proxy:
    external: true

secrets:
  flask_secret_key:
    file: /srv/classproject/.secrets/flask_secret_key
