<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('blueprint.home')}}">
      <picture>
        <source srcset="{{ url_for('static', filename='images/logos/logo.webp') }}" type="image/webp">
        <img src="{{ url_for('static', filename='images/logos/logo.png') }}" alt="GradPace" height="30">
      </picture>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'home' }}" aria-current="page" href="{{url_for('blueprint.home')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'bios' }}" aria-current="page" href="{{url_for('blueprint.bios')}}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'problem' }}" aria-current="page" href="{{url_for('blueprint.problem')}}">Problem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'solution' }}" aria-current="page" href="{{url_for('blueprint.solution')}}">Solution</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" aria-expanded="false" tabindex="0">
            Presentations
        </a>
        <ul class="dropdown-menu">
          <li><h3 class="dropdown-header">Feasibility Presentations</h3></li>
          <li><a class="dropdown-item" href="{{url_for('blueprint.feasibility_version_one')}}">Feasibility Slides Version 1</a></li>
          <li><a class="dropdown-item" href="{{url_for('blueprint.feasibility_version_two')}}">Feasibility Slides Version 2</a></li>
          <li><a class="dropdown-item" href="{{url_for('blueprint.feasibility_version_three')}}">Feasibility Slides Version 3</a></li>
          <li><a class="dropdown-item" href="{{url_for('blueprint.feasibility_version_four')}}">Feasibility Slides Version 4</a></li>
          <li><a class="dropdown-item" href="{{url_for('blueprint.final_feasibility')}}">Final Feasibility Slides</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><h3 class="dropdown-header">Design Presentations</h3></li>
          <li><a class="dropdown-item" href="{{url_for('blueprint.design_version_one')}}">Design Slides Version 1</a></li>
          <li><a class="dropdown-item" href="{{url_for('blueprint.design_version_two')}}">Design Slides Version 2</a></li>
          <li><a class="dropdown-item" href="{{url_for('blueprint.design_version_three')}}">Design Slides Version 3</a></li>
          <li><a class="dropdown-item" href="{{url_for('blueprint.design_version_four')}}">Design Slides Version 4</a></li>
          <li><a class="dropdown-item" href="{{url_for('blueprint.design_final')}}">Final Design Slides</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><h3 class="dropdown-header">Prototype Presentations</h3></li>
          <li><a class="dropdown-item" href="{{url_for('blueprint.prototype_presentation_wip')}}">Prototype Presentation WIP</a></li>
        </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'deliverables' }}" aria-current="page" href="{{url_for('blueprint.deliverables')}}">Deliverables</a>
        </li>
        <li class="nav-item">
          <div class="btn-group">
            <a class="nav-link pe-1" href="{{url_for('blueprint.labs')}}">Labs</a>
            <div class="vr my-2"></div>
            <button type="button" class="nav-link ps-1 dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><h3 class="dropdown-header">Lab 1</h3></li>
              <li><a class="dropdown-item" href="{{url_for('blueprint.lab_one')}}#outline">Lab 1 - Outline</a></li>
              <li><a class="dropdown-item" href="{{url_for('blueprint.lab_one')}}#lab-1-dawson">Lab 1 - Dawson Fromm</a></li>
              <li><a class="dropdown-item" href="{{url_for('blueprint.lab_one')}}#lab-1-carly">Lab 1 - Carlycia Mathis</a></li>
              <li><a class="dropdown-item" href="{{url_for('blueprint.lab_one')}}#lab-1-aaron">Lab 1 - Aaron Killingbeck</a></li>
              <li><a class="dropdown-item" href="{{url_for('blueprint.lab_one')}}#lab-1-jj">Lab 1 - James Wile</a></li>
              <li><a class="dropdown-item" href="{{url_for('blueprint.lab_one')}}#lab-1-stephen">Lab 1 - Stephen Steyaert</a></li>
              <li><a class="dropdown-item" href="{{url_for('blueprint.lab_one')}}#lab-1-nate">Lab 1 - Nate Balcha</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'stories' }}" aria-current="page" href="{{url_for('blueprint.stories')}}">User Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'references' }}" aria-current="page" href="{{url_for('blueprint.references')}}">References</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'glossary' }}" aria-current="page" href="{{url_for('blueprint.glossary')}}">Glossary</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
