<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('blueprint.home')}}">
      <img src="{{ url_for('static', filename='images/logos/logo.png') }}" alt="GradPace" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'home' }}" aria-current="page" href="{{url_for('blueprint.home')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'bios' }}" aria-current="page" href="{{url_for('blueprint.bios')}}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'problem' }}" aria-current="page" href="{{url_for('blueprint.problem')}}">Problem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'solution' }}" aria-current="page" href="{{url_for('blueprint.solution')}}">Solution</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Presentations
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{{url_for('blueprint.feasibility_version_one')}}">Feasibility Slides Version 1</a></li>
          <li><a class="dropdown-item" href="{{url_for('blueprint.feasibility_version_two')}}">Feasibility Slides Version 2</a></li>
          <li><a class="dropdown-item" href="{{url_for('blueprint.feasibility_version_three')}}">Feasibility Slides Version 3</a></li>
          <li><a class="dropdown-item" href="{{url_for('blueprint.wip_feasibility')}}">Work-In-Progress Feasibility Slides</a></li>
        </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Deliverables
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{{ url_for('blueprint.problem') }}#current-process-flow">Current Process Flow</a></li>
          <li><a class="dropdown-item" href="{{ url_for('blueprint.solution') }}#solution-process-flow">Solution Process Flow</a></li>
          <li><a class="dropdown-item" href="#">Major Functional Components Diagram</a></li>
          <li><a class="dropdown-item" href="#">Competition Matrix</a></li>
          <li><a class="dropdown-item" href="#">Risk Matrices</a></li>
        </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'references' }}" aria-current="page" href="{{url_for('blueprint.references')}}">References</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'glossary' }}" aria-current="page" href="#">Glossary</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
