.responsive-iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 59.27%; /* 569/960 = 0.5927 aspect ratio */
  height: 0;
  overflow: hidden;
}

.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}