{% extends 'base.html' %}
{% from 'components/bio-card.html' import bio_card %}

{% set active_page = 'bios' %}

{% block title %}Our Team{% endblock %}
{% block description %}Meet Team Copper - talented Computer Science students at Old Dominion University working on GradPace. Learn about our team members and their roles.{% endblock %}
{% block keywords %}Team Copper, ODU Computer Science, GradPace team, student developers, software engineering team{% endblock %}

{% block content %}
<h1 class="text-center mb-5">Meet Our Team!</h1>
<div class="row mb-4">
    <div class="col-md-4">
        {{ bio_card("Dawson Fromm", "Database Specialist", url_for('static', filename='images/dawson-fromm.jpg'), "Dawson is a Senior pursuing a B.S. in Computer Science at Old Dominion University and is enrolled in the Linked B.S./M.S. program.  He has experience with Java and Python and works as an undergraduate research assistant with interests in machine learning. His hobbies include following the English Premier League and playing video games.") }}
    </div>
    <div class="col-md-4">
        {{ bio_card("Carlycia Mathis", "Document Specialist", url_for('static', filename='images/carlycia-mathis.PNG'), "Carlycia is a senior pursing a B.S. in Computer Science at Old Dominion University. She has expienrece with integrating Linux and Windows operating systems. Her hobbies conist of spending time with family and reading books.") }}
    </div>
    <div class="col-md-4">
        {{ bio_card("Aaron Killingbeck", "Backend Developer", url_for('static', filename='images/aaron-killingbeck.png'), "Aaron is a Senior pursuing a BS in Computer Science at Old Dominion University. He also works as an undergraduate research assistant and night desk receptionist at ODU. His hobbies include reading, playing video games, and exercising.") }}
    </div>
</div>
<div class="row mb-4">
    <div class="col-md-4">
        {{ bio_card("James Wile", "Position TBD", url_for('static', filename='images/james-wile.jpg'), "Bio text for person 4 goes here.") }}
    </div>
    <div class="col-md-4">
        {{ bio_card("Stephen Steyaert", "Team Lead / Backend Developer", url_for('static', filename='images/stephen-steyaert.jpg'), "Stephen is a Senior pursuing a BS in Computer Science with a minor in Cybersecurity at Old Dominion University. He has experience with Python, C++, and Java. He is currently working at the School of Cybersecurity as a Backend Software Developer working on <a href=\"https://cybercup.ai\" target=\"_blank\" rel=\"noopener noreferrer\">CyberCup.AI</a>. In his free time, he plays some video games, and does some software development of his own.") }}
    </div>
    <div class="col-md-4">
        {{ bio_card("Nate Balcha", "Frontend Developer", url_for('static', filename='images/nate-balcha.jpg'), "Nate is a Senior pursuing a BS in Computer Science at ODU. He has experince with Java and C. In his free time, he likes to read book and travel.") }}
    </div>
</div>
{% endblock %}
