{% extends 'base.html' %}
{% from 'components/presentation-iframe.html' import presentation_iframe %}

{% set active_page = 'feasV2' %}

{% block title %}Feasibility Presentation Version 2{% endblock %}
{% block description %}GradPace Feasibility Study Version 2 - Team Copper's project feasibility analysis for Old Dominion University Computer Science.{% endblock %}
{% block keywords %}GradPace feasibility, project presentation, ODU CS project, Team Copper presentation{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/feasibility.css') }}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
{% endblock %}

{% block content %}
<p class="h3 text-center">
    Feasibility
    <a href="https://docs.google.com/presentation/d/1xLcf3u9At4Ezs9MwnBaHrqmSLAsFtsQyhVUcWt_ADdw/export/pdf" target="_blank" rel="noopener noreferrer">
        Presentation
        <i class="bi bi-file-earmark-pdf-fill" style="font-size: .95rem;"></i>
    </a>
    Version 2
</p>
{{ presentation_iframe("https://docs.google.com/presentation/d/e/2PACX-1vSu-BdWu94OKPoFCO06Jxk-32VKA0ubOb46H4yWJMhmwnOk1WrdxZxuZBGbCn29HMfb0mNwDWjGBrGs/pubembed?start=false&loop=true&delayms=3000") }}
{% endblock %}
