{% extends "base.html" %}

{# documentation: https://jinja.palletsprojects.com/en/stable/templates/ #}

{% set active_page = 'home' %}

{% block title %}Home{% endblock %}
{% block description %}GradPace - Choose your Path, Build your Future. An innovative Computer Science project by Team Copper from Old Dominion University.{% endblock %}
{% block keywords %}GradPace, Team Copper, ODU Computer Science, Old Dominion University, student project, software engineering, career planning{% endblock %}

{% block content %}
<p class="h1">GradPace - Team Copper</p>
{% endblock %}
