
{% extends 'base.html' %}
{% from 'components/pdf-viewer.html' import pdf_viewer %}

{% set active_page = 'lab1' %}

{% block title %}Lab 1 {% endblock %}
{% block description %}GradPace Lab 1 Outline - Team Copper's Lab 1 documents for Old Dominion University Computer Science.{% endblock %}
{% block keywords %}GradPace Lab 1, lab document, ODU CS project, Team Copper{% endblock %}

{% block css %}

<!-- Preload page-specific CSS -->
<link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" as="style">

<!-- Load CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
{% endblock %}

{% block content %}
<!-- Page Header -->
<div class="hero-section">
    <h1 class="display-6">Lab 1</h1>
</div>

<section id="outline" class="section-card">
    <h2 class="section-title">Lab 1 - Outline</h2>
    {{ pdf_viewer("GradPace Lab 1 Outline", "pdfs/lab1_outline.pdf") }}
</section>

<!-- Lab 1 -->
<div id="individual" style="scroll-margin-top: 62px;"></div>
<section id="lab-1-dawson" class="section-card">
    <h2 class="section-title">Lab 1 - Dawson Fromm</h2>
    {{ pdf_viewer("GradPace Lab 1 - Dawson Fromm", "pdfs/lab1-dawson.pdf") }}
</section>

<section id="lab-1-carly" class="section-card">
    <h2 class="section-title">Lab 1 - Carlycia Mathis</h2>
    {{ pdf_viewer("GradPace Lab 1 - Carlycia Mathis", "pdfs/lab1-carly.pdf") }}
</section>

<section id="lab-1-aaron" class="section-card">
    <h2 class="section-title">Lab 1 - Aaron Killingbeck</h2>
    {{ pdf_viewer("GradPace Lab 1 - Aaron Killingbeck", "pdfs/lab1-aaron.pdf") }}
</section>

<section id="lab-1-jj" class="section-card">
    <h2 class="section-title">Lab 1 - James Wile</h2>
    {{ pdf_viewer("GradPace Lab 1 - James Wile", "pdfs/lab1-jj.pdf") }}
</section>

<section id="lab-1-stephen" class="section-card">
    <h2 class="section-title">Lab 1 - Stephen Steyaert</h2>
    {{ pdf_viewer("GradPace Lab 1 - Stephen Steyaert", "pdfs/lab1-stephen.pdf") }}
</section>

<section id="lab-1-nate" class="section-card">
    <h2 class="section-title">Lab 1 - Nate Balcha</h2>
    {{ pdf_viewer("GradPace Lab 1 - Nate Balcha", "pdfs/lab1-nate.pdf") }}
</section>
{% endblock %}
